<script>
    document.addEventListener('DOMContentLoaded', function() {

        function isMobileDevice() {
            // return true;
            return /Mobi|Android|iPhone|iPad|iPod/i.test(navigator.userAgent);
        }

        if (isMobileDevice()) {
            const mobileText = "A little robot told me you're on mobile!\n";
            const mobileElement = document.getElementById('mobile-only');
            mobileElement.innerText = mobileText;
            mobileElement.style.opacity = "0.5";
            document.getElementById('mobile-menu').style.display = 'block';
        }
    });
</script>
<br>
<p id="mobile-only"></p>

<div class="menu" id="mobile-menu" style="display: none;">
    <h3>
      |[&emsp;
      <a href=''>Home</a>
      &emsp;][&emsp;
      <a href='posts'>Posts</a>
      &emsp;][&emsp;
      <a href='vitae'>Vitae</a>
      &emsp;]|
    </h3>
  </div>
  