<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<script>
    const encodedStrings1 = ["What subculture is evinced by Ike's clothes and his shtick,\n\
        by the non-Semitic contours of his nose and his dick?"];
    const encodedStrings = [
        "A continuation of the dream you saw yesterday",
        "What subculture is evinced by Ike's clothes and his shtick,\n\
        by the non-Semitic contours of his nose and his dick?",
        "Lambent wit and verve",
        "Always searching the silent type",
        "For the grudging approbation of a few friends",
        "Pounding frayed nerves into compliance",
        "Could you mess things up a little?",
        "A round of thundering applause you've awaited",
        "Military-grade ass cheese",
        "It looks like tech this time",
        "Linger listless, in limbo languid",
        "The inverse of latent untruth",
        "See me off in the hearse<3",
        "The far side of the moon",
        "Written wearing wrist weights",
        "Catachresis of catachresis",
        "Kochar: \"Abey, propensity ka matlab kya hota hai?\" \n \"Proclivity.\"",
        "To sashay, or chassé today",
        "Meowing back at cats",
        "¿Por qué no los dos?",
        "Who the FUCK is jayant mittal?",
        "Drop-dead typical",
        "A monad is a monoid in the category of endofunctors",
        "Diglyme ether is an ether with an ether-like odor",
        "Couldn't care less for those danceless nights",
        "A tale told by an idiot, full of sound and fury,\n signifying nothing.",
        "Noon will be a kiln",
        "I was an infinitely hot and dense dot",
        "Tabasco of infinite zest",
        "Do I like what you like?",
        "I've been dreaming every night lately",
        "An identity function, an old familiar friend.",
        "Riding on a missile with a cowboy hat",
        "i have eaten\n the plums",
        "Fever dream, tangerine sweat",
        "All the boys are smoking menthols",
        "Free your mouth of my name",
        "Ate the poison, licked the plate",
        "A cricket asleep amidst silver dollars in the humidor",
        "Thnks fr th mmrs, evn thgh thy wrnt so grt",
        "I second that. I third it.\nThe council of Me concurs",
        "The perfect analogy is perfectly useless",
        "ABC is a theorem in Kyoto and a conjecture everywhere else",
        "As I said, I don't repeat myself",
        '"yields falsehood when preceeded by its quote"\nyields falsehood when preceeded by its quote',
    ];


    // function displayRandomQuote() {
    //     const randomIndex = Math.floor(Math.random() * encodedStrings.length);
    //     const randomQuote = encodedStrings[randomIndex];
    //     document.getElementById('random-string').innerText = randomQuote;
    // }

    // document.addEventListener("DOMContentLoaded", function() {
    //     displayRandomQuote();
    //     document.getElementById('random-string').addEventListener('click', function() {displayRandomQuote();});
    // });
</script>

<!-- <p id="random-string" style="cursor: pointer; user-select:none;"></p> -->
<p id="random-string" style="user-select:none;"></p>

<script>
    strlist = encodedStrings.map(str => str.replace(/\n/g, "<br>"))
                            .sort(() => Math.random()-0.5);
    new TypeIt("#random-string", {
      strings: strlist,
      breakLines: false,
      loop: true,
      lifelike: true,
      speed: 60,
      nextStringDelay: [4000,1000]
    }).go();
</script>